body{
    background-color: rgba(42, 11, 61, 0.658);
    text-align: center;
    color: aqua;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}



